@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}
:root{
  --lightmagneta:  hsl(293, 100%, 63%);
--lightviolet: hsl(264, 100%, 61%);
--moderateviolet: hsl(276, 55%, 52%);
--paleviolet:hsl(276, 100%, 81%);
--lightgrayviolet:hsl(270, 20%, 96%);
--white: hsl(0, 0%, 100%);
--darksatviolet:hsl(271, 36%, 24%);
--darkgrayviolet:hsl(270, 7%, 64%);

}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}



main {
  padding: 1rem;
  background-color: var(--lightgrayviolet);
  font-family: 'Rubik', sans-serif;
}
.container{
  display: flex;
  align-content: center;
  align-items: center;
  height:100dvh;
}
.header {
  font-weight: bold;
  font-size: 2.5rem;
  color:var(--darksatviolet);
}
.body-text{
color:var(--darkgrayviolet)
}
.phone-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone{
  height:36rem;
  width:18rem;
  background-color: white;
  border-radius: 35px;
  padding:2%;
  text-align: center;
}
.camera{
  border-radius: 15px 15px 36px 36px;
  height:25px;
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom:10px;
  width:130px;
  left:70px;
  z-index: 2;
}
.screen{
background-color: var(--lightgrayviolet);
height: 30rem;
border-radius: 0px 0px 15px 15px;
position: relative;
top:-45px;

}
.top-section{
  height:80px;;
 background-image:linear-gradient(90deg, hsl(264, 100%, 61%),hsl(293, 100%, 63%));

 border-radius: 35px 35px 0px 0px;
position: relative;
top:-30px;
display: flex;
margin-top: auto;
}
.top-image{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.top-body{
  margin-top: auto;
  display:flex;
  font-size: 0.6rem;
  color:white;
  margin-right: auto;
  flex-direction: column;
}
p.top-name{
  margin-bottom: 0%;
}
.avatar{
  height:30px;
  border-radius: 50px;
}
.from-message{
  font-size: 0.5rem;
  border-radius: 15px 15px 15px 0px;
  text-align: left;
  height:50px;
  color: var(--moderateviolet);
  background-color: hsl(265, 62%, 92%);
  width: 60%;
  padding: 5px;
  margin:5px;
}


.to-message{
  font-size: 0.5rem;
  border-radius: 15px 15px 0px 15px;
  text-align: left;
  height:50px;
  color: var(--moderateviolet);
  width: 60%;
  padding: 5px;
  margin:5px;
  margin-left: auto;
  background-color: var(--white);
}

.price-message{
  font-size: 0.8rem;
  border-radius: 10px 10px 10px 0px;
  text-align: left;
  height:35px;
  background-image:linear-gradient(90deg,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  width: 70%;
  padding: 5px;
  margin:5px;
  color:white;
}
.dog-pic{
  height:40px;
  border-radius:10px;
}

.info{
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top:20%;
  margin-bottom: auto;
}
.message{
  background-color: var(--white);
  border-radius: 15px;
  height:40px;
  font-size: 0.8rem;
  text-align: left;
  padding-bottom: 5%;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}
.send-button{
  border-radius: 50px;
  background-color: hsl(271, 36%, 24%);
  border:none;
  margin-left: auto;
  width:25px;
}
